h1 {
    font-size: x-large;
}

#uploadImage {
    height: 416px;
    display: none;
}

#dropTray {
    height: 100px;
    background-color: #eeeeee;
    color: #909090;
}

.photoWrapper {
    position: relative;
    display: flex;
    overflow: hidden;
}

#photoId {
    margin: 0;
    padding: 0;
}

.rect {
    position: absolute;
    border: 1px solid red;
    font-size: 24px;
}

.regionPrefix {
    font-size: smaller;
    font-weight: bolder;
}

